.App {
    text-align: center;
    display: flex;
}

.poster {
    border: 2px solid powderblue;
    background-color: darkgray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.img {
    border-radius: 20px;
    border: 2px solid white;
}

.title {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}

.year {
    color: white;
    font-style: italic;
}